<div id="copyright">
    <ul>
        <li>{{@custom.office_phone}}</li>
        <li>{{@custom.office_address}}</li>
        <li><a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a></li>
    </ul>
    <ul>
        <li>&copy; {{@site.title}}</li>        
    </ul>
</div>
