<div class="row">
    <div class="col-6">
        <p style="text-align:right !important;">
            {{@custom.office_phone}} | <a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a></br>
            {{@custom.office_address}}
        </p>
    </div>
    <div class="col-6">
        <p style="text-align:left !important;">
        </p>
    </div>
</div>
    
