<div id="copyright" class="row">
    <div class="col-6; float:right;">
        <p>
            {{@custom.office_phone}}</br>
            <a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a></br>
            {{@custom.office_address}}
        </p>
    </div>
    <div class="col-6; float:left;">
        <p>&copy; {{@site.title}}</p>
    </div>    
</div>