<div class="row">
    <div class="col-6">
        <p style="text-align:right !important;">
            {{@custom.office_phone}}</br>            
            {{@custom.office_address}}
        </p>
    </div>
    <div class="col-6">
        <p style="text-align:left !important;">
            <a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a></br>
            &copy; 2023 {{@site.title}}
        </p>
    </div>
</div>
    
