<div id="copyright" class="row">
    <div class="col-6">
        <p>{{@custom.office_phone}}</p>
        <p>{{@custom.office_address}}</p>
        <p><a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a></p>
    </div>
    <div class="col-6">
        <p>&copy; {{@site.title}}</p>
    </div>    
</div>