<div class="row">
    <div class="col-4">
        <p style="text-align:right !important;">
            {{@custom.office_phone}}
        </p>
    </div>
    <div class="col-4">
        <p style="text-align:center !important;">
            {{@custom.office_address}}
        </p>
    </div>
    <div class="col-4">
        <p style="text-align:left !important;">
             <a href="mailto:inbox@activcount.ca">inbox@activcount.ca</a>
        </p>
    </div>
</div>
    
